.new-expense {
    margin: 0 auto;
    width: 960px;
    text-align: left;
    border: 5px solid black;
    background-color: #cbcbcb;
    border-radius: 20px;
    padding: 10px 20px;
}

.add-expense-button {
    height: 50px;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* .expense-form {
    margin: 0 auto;
    width: 960px;
    text-align: left;
    border: 5px solid black;
    background-color: #cbcbcb;
    border-radius: 20px;
    padding: 10px 20px;
} */

.form-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.control label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.control input {
    width: 80%;
    display: block;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 20px;
}

.control {
    width: 450px;
    padding: 10px 0;
}

.form-action button {
    height: 50px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    margin-top: 40px;
    margin-right: 50px;
    cursor: pointer;
}